.mySwiper {
    width: 100%;
    height: 100%;
  
  }
  
  .mySwiper img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%; 
  }
  
  .slide {
    height: 40%;
    margin-top: 80px;
    
  }
  
  @media screen and (min-width:420px) {
    .mySwiper {
      width: 85%;
      height: 300px;

    }

    .slide {
      @apply bg-gray-900;
    }
  
    .mySwiper img {
      object-fit: cover;
      height: 330px;
      object-position: center;
    }
  }
  
  @media screen and (min-width:640px) {
    .mySwiper {
      width: 80%;
      height: 400px;
    }
  
    .mySwiper img {
      object-fit: cover;
      height: 400px;
    }
  
  }
  @media screen and (min-width:768px) {
    .mySwiper {
      width: 70%;
      height: 450px;
    }
  
    .mySwiper img {
      object-fit: cover;
      height: 450px;
    }
  
  }